@model ModuloInventario.Models.InventarioContext
<script src="~/Scripts/chart/exporting.js"></script>
<script src="~/Scripts/chart/highcharts.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
@{
    ViewBag.Title = "Disponibilidad";
}

<!DOCTYPE html>
<link rel="stylesheet" href="../Scripts/fontawesome-free-5.3.1-web/css/all.min.css">
<html>
<head>

</head>
<body>
    <br />
    <p></p>
    <h1 class="text-left">Disponibilidad</h1>
    <div class="row bg">
        <div class="col-sm-6">
            <div id="container" style="min-width: 500px; height: 600px; max-width: 600px; margin: 0 auto"></div>
        </div>
        <div class="col-sm-6">
            <div id="container1" style="min-width: 500px; height: 600px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
        <a href="/" class="btn btn-outline-primary btn-sm"><i class="fas fa-undo-alt fa-1x"></i> Regresar</a>
</body>
</html>

<script>
    $(document).ready(function () {
        $.getJSON("http://localhost:51307/Home/GetData", function (data) {

            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Computadores - Laptops'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Total Computadores',
                        y: data.TotalComputadores
                    }, {
                        name: 'Computadores Asignados',
                        y: data.ComputadoresAsignados
                    }]
                }]
            });
           
        });
    });


    
</script>


<script>
    $(document).ready(function () {
        $.getJSON("http://localhost:51307/Home/GetData", function (data1) {

            Highcharts.chart('container1', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Articulos Varios'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Total Articulos Varios',
                        y: data1.TotalVarios
                    }, {
                        name: 'Articulos Asignados',
                        y: data1.VariosAsignados
                    }]
                }]
            });

        });
    });



</script>
