@{
    ViewBag.Title = "Home Page";
}

<p></p>
<br />
<link rel="stylesheet" href="../Scripts/fontawesome-free-5.3.1-web/css/all.min.css">
<div class="container">
    <div class="container-fluid" style="background-color:#3072AC;">
        <h2 class="text-center" style="color:#ffffff" ;>Registro y Asignación de Equipos</h2>
    </div>
    <p></p>
    <div class="row bg">
        <div class="col-sm-6">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fas fa-desktop fa-3x" style="color:#3072AC;"></i>
                        </div>
                        <div class="col">
                            <h3 class="card-title" style="color:#3072AC;">Administración de Equipos</h3>
                        </div>
                    </div>
                    <p></p>
                    <a href="/Home/SeleccionIngreso" class="btn btn-outline-primary btn-md btn-block">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fas fa-users fa-3x" style="color:#3072AC;"></i>
                        </div>
                        <div class="col">
                            <h3 class="card-title" style="color:#3072AC;"> Asignación de Equipo</h3>
                        </div>
                    </div>
                    <p></p>
                    <a href="/Home/SeleccionAsignacion" class="btn btn-outline-primary btn-md btn-block">Asignar</a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fas fa-chart-pie fa-3x" style="color:#3072AC;"></i>
                        </div>
                        <div class="col">
                            <h3 class="card-title" style="color:#3072AC;"> Disponibilidad</h3>
                        </div>
                    </div>
                    <p></p>
                    <a href="/Home/Disponibilidad" class="btn btn-outline-primary btn-md btn-block">Consultar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fas fa-table fa-3x" style="color:#3072AC;"></i>
                        </div>
                        <div class="col">
                            <h3 class="card-title" style="color:#3072AC;"> Catálogo</h3>
                        </div>
                    </div>
                    <p></p>
                    <a href="/Articulos" class="btn btn-outline-primary btn-md btn-block">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <!--<p></p>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fas fa-table fa-3x" style="color:#3072AC;"></i>
                        </div>
                        <div class="col">
                            <h3 class="card-title" style="color:#3072AC;"> Catálogo</h3>
                        </div>
                    </div>
                    <p></p>
                    <a href="/Articulos" class="btn btn-outline-primary btn-md btn-block">Ingresar</a>
                </div>
            </div>
        </div>
    </div>-->
</div>